<form class="ui stacked segment form" action="/dashboard/category" method="POST">
  <div class="field">
    <label>Category Name</label>
    <input type="text" name="name" autofocus required title="Please include a valid category name" placeholder="e.g. NVIDIA GeForce RTX 50 Series">
  </div>
  <button class="ui blue submit button">Add Category</button>
</form>
