<nav class="ui stackable menu">
  
  <header class="ui header item"> 
    <a href="/"> GPU Explorer </a>
  </header>
  
  <div class="right menu">
    <a id="welcome" class="item" href="/">Welcome</a>
    <a id="dashboard" class="item" href="/dashboard">Dashboard</a>
    <a id="about" class="item" href="/about">About</a>
  </div>
  
</nav>

<script>
 // highlight the active menu item
 const activeItem = document.querySelector("#{{id}}");
 if (activeItem) {
   activeItem.classList.add("active");
 }
</script>
